@import '_vars.scss';
@import '_settings.scss';

@media (max-width: 1440px) {
  .about {
    &__form {
      input {
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 1300px) {
  .projects {
    .descr1 {
      span:nth-child(1) {
        display: none;
      }
      span:nth-child(2) {
        display: block;
      }
    }
  }
}

@media (max-width: 1200px) {

  .container {
    padding: 0 30px;
  }

  .hero {
    padding-top: 35px;
    padding-bottom: 68px;

    &__title {
      margin-bottom: 26px;
    }

    &__article-text {
      padding: 0 30px 30px;
    }

    .article__author {
      margin-bottom: 9px;
    }
    .article-title {
      margin-bottom: 24px;
      font-size: 34px;
      line-height: 34px;
    }
    &__works-list {
      grid-template-rows: 332px 186px;
    }
  }

  .about {
    padding-bottom: 83px;
    &__form-input {
      margin-bottom: 20px;
    }
  }

  .projects {
    &__list {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: 285px 307px 307px;
      gap: 25px 30px;
    }

    &__article {
      padding: 30px 30px 35px;
    }

    &__item {
      &-descr {
        span:nth-child(1) {
          display: none;
        }
        span:nth-child(2) {
          display: block;
        }
      }
    }

    .descr2 {
      span:nth-child(2) {
        display: block;
      }
    }

    .small__card {
      &:nth-child(3) {
      grid-column: 5 / 9;
      grid-row: 1;
    }
    }

    .medium__card {
      &:nth-child(6) {
        grid-row: 2;
        grid-column: 6 / 9;
      }
      &:last-child {
        grid-column: 1 / 4;
        grid-row: 3;
      }
    }

    .big__card {
      grid-column: span 5;
    }
  }

  .contacts {
    padding-bottom: 69px;
    &__title {
      margin-bottom: 15px;
    }

    &__wrapper {
      grid-template-columns: repeat(8, 1fr);
    }

    .address-active {
      bottom: 0;
      padding: 25px 25px 21px 30px;
      max-width: 100%;
      width: 100%;
      height: 157px;
    }
    .map {
      grid-column: span 5;
    }

    &__right {
      grid-column: 6 / 9;
    }

    .form-comment {
      margin-bottom: 16px;
    }
  }
  .footer {

    &__logo {
      img {
        margin-bottom: 0;
      }
      span {
        font-size: 14px;
        line-height: 18px;
      }
    }
  }
  
}

@media (max-width: 992px) {
  .header {
    height: 125px;

    &__container {
      grid-template-columns: repeat(6, 1fr);
    }

    &__logo {
      grid-column: 1 / 3;
    }

    &__search {
      grid-column: 6 / 7;
    }

    &__logo {
      padding-bottom: 41px;
    }
    &__search {
      padding-bottom: 41px;
    }

    &-block__nav {
      position: absolute;
      bottom: 0;
      left: 0;
      grid-row: 2;
      grid-column: 1 / 9;
      padding: 12px 30px;
      background-color: $dark-gray-color;
      width: 100%;
      height: 45px;
    }
  }

  .hero {
    padding-bottom: 70px;

    &__title {
      margin-bottom: 17px;
      font-size: 22px;
      line-height: 22px;
    }

    &__article-text {
      padding: 0 30px 30px;
    }

    .article__author {
      margin-bottom: 14px;
    }

    .article-title {
      margin-bottom: 23px;
      line-height: 30px;
    }

    &__works-list {
      grid-template-rows: 228px 133px;
    }
  }

  .about {
    padding-bottom: 63px;

    &__right-img {
      margin-bottom: 23px;
    }
  }

  .projects {
    &__list {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 301px 304px 311px 298px;
    }

    &__item {
      &-descr {
        span:nth-child(1) {
          display: block;
        }
        span:nth-child(2) {
          display: none;
        }
      }
    }

    .descr1 {
      span:nth-child(1) {
        display: block;
      }
      span:nth-child(2) {
        display: none;
      }
    }

    .descr2 {
      span:nth-child(2) {
        display: none;
      }
    }

    .small__card {
      &:nth-child(3) {
        grid-column: 5 / 7;
      }
    }

    .big__card {
      grid-column: span 6;
      &:nth-child(4) {
        grid-row: 2;
      }
      &:nth-child(5) {
        grid-row: 4;
      }
    }

    .medium__card {
      grid-column: span 3;
      &:nth-child(6) {
        grid-column: 1 / 4;
        grid-row: 3;
      }
      &:nth-child(7) {
        grid-column: 4 / 7;
        grid-row: 3;
      }
    }
  }

  .contacts {
    padding-bottom: 70px;
    &__wrapper {
      grid-template-columns: repeat(6, 1fr);
    }

    .map {
      grid-column: span 6;
    }

    &__right {
      grid-column: span 4;
    }
  }

  .footer {
    padding-bottom: 0;
    &__descr {
      display: none;
    }
  }
}

@media (max-width: 720px) {
  .hero {
    &__title {
      font-size: 20px;
    }
    .article__author {
      font-size: 14px;
    }
    .article-title {
      font-size: 27px;
      line-height: 28px;
    }
    .article-btn {
      padding: 12px 18px;
    }
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 21px;
  }

  .header {
    height: 115px;

    &__container {
      grid-template-columns: repeat(2, 1fr);
    }
      
    &-block__nav {
      padding: 12px 21px;
      
      .btn-close--active {
        display: block;
        margin-bottom: 16px;
        opacity: 1;
      }
      .header__nav {
        position: absolute;
        top: 0;
        left: -100%;
        transition: all 0.3s ease;
        z-index: -1;
      }

      .menu--active {
        left: 0;
        display: flex;
        flex-direction: column;
        padding: 49px 0 90px 24px;
        width: 100%;
        height: 100vh;
        z-index: 3;
        overflow: hidden;
        background-color: $dark-color;
      }
    }
    &__logo {
      grid-column: 1 / 2;
      max-width: max-content;
    }
    &__search {
      grid-column: 3 ;
      .search-btn {
        width: 26px;
        height: 26px;
      }
    }
    .header__nav-list {
      display: flex;
      flex-direction: column;
      margin-bottom: auto;
    }

    .header__nav-item:not(:last-child) {
      margin-bottom: 30px;
    }
    
    .header__nav-burger {
      display: block;
    }
   
    .tel {
      display: block;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
    }
  }

  .hero {
        padding-top: 30px;
        padding-bottom: 43px;
        &__container {
          grid-template-columns: 1fr;
          row-gap: 30px;
        }

        &__works-article {
          height: 422px;
        }
       
        &__title {
          font-size: 18px;
          line-height: 18px;
        }
    
        .article-hashtag {
          top: 6px;
          right: 5px;
          padding: 4px 7px;
          font-size: 12px;
          line-height: 14px;
        }
    
        .article__btn {
          padding: 12px 22px;
          font-size: 14px;
          line-height: 16px;
        }
    
        &__article-text {
          padding: 0 28px 34px;
        }
    
        .article__author {
          margin-bottom: 10px;
          font-size: 14px;
          line-height: 16px;
        }
    
        .article-title {
          margin-bottom: 14px;
          font-size: 24px;
          line-height: 26px;
        }
    
        &__works-list {
          grid-template-rows: auto auto;
        }
      }
    
      .section__title {
        font-size: 18px;
        line-height: 23px;
      }
      .btn--fill {
        padding: 12px 22px;
        font-size: 14px;
        line-height: 18px;
      }
      .about {
        padding-bottom: 59px;
        &__wrapper {
          grid-template-columns: 1fr;
          row-gap: 18px;
        }
        &__descr {
          font-size: 14px;
          line-height: 25px;
        }
    
        &__right-subtitle {
          font-size: 18px;
          line-height: 22px;
        }
    
        &__form {
          input {
            margin-right: 0;
            margin-bottom: 20px;
            font-size: 14px;
            line-height: 16px;
            &::placeholder {
              font-size: 14px;
              line-height: 16px;
            }
          }
        }
      }
    
      .btn--stroke {
        padding: 12px 21px;
        font-size: 14px;
        line-height: 16px;
      }
    
      .projects {
        padding-top: 50px;
        padding-bottom: 34px;
    
        &__title {
          margin-bottom: 16px;
        }
        &__list {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: 297px repeat(2, 278px) 422px repeat(2, 300px) 422px;
        }
    
        &__hashtag {
          top: 5px;
          right: 5px;
          padding: 4px 13px;
          font-size: 12px;
          line-height: 14px;
        }
    
        .date__white {
          margin-bottom: 8px;
        }
    
        &__article {
          justify-content: end;
    
          &-title {
            margin-bottom: 10px;
          }
          &-descr {
            margin-bottom: 12px;
            font-size: 14px;
            line-height: 18px;
          }
        }
        .small__card {
          grid-column: span 2;
          &:nth-child(1) {
            grid-column: 1 / 3;
            grid-row: 1;
          }
          &:nth-child(2) {
            grid-column: 1 / 3;
            grid-row: 2;
          }
          &:nth-child(3) {
            grid-column: 1 / 3;
            grid-row: 3;
          }
        }
    
        .big__card {
          grid-column: span 2;
          &:nth-child(4) {
            grid-column: 1 / 3;
            grid-row: 4;
          }
          &:nth-child(5) {
            grid-column: 1 / 3;
            grid-row: 7;
          }
        }
    
        .medium__card {
          grid-column: span 2;
          &:nth-child(6) {
            grid-column: 1 / 3;
            grid-row: 5;
          }
          &:nth-child(7) {
            grid-column: 1 / 3;
            grid-row: 6;
          }
        }
      }
    
      .form-input {
        font-size: 14px;
        line-height: 18px;
        height: 40px;
        &::placeholder {
          font-size: 14px;
          line-height: 18px;
        }
      }
      .error-span {
        top: -8px;
      }
      .contacts {
        padding-bottom: 47px;

        .map {
          height: 472px !important;
        }
    
        &__wrapper {
          grid-template-columns: repeat(2, 1fr);
          row-gap: 22px;
        }
        .map {
          grid-column: 1 / 3;
        }
        &__right {
          grid-column: 1 / 3;
          &-subtitle {
            margin-bottom: 7px;
            font-size: 18px;
          }
          &-descr {
            margin-bottom: 15px;
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
      .footer {
        padding-top: 0;
        height: 185px;
    
        &__container {
          flex-direction: column-reverse;
          height: 98px;
        }
    
        &__logo {
          position: absolute;
          bottom: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 62px;
          background-color: $dark-gray-color;
          span {
            font-size: 10px;
            line-height: 12px;
          }
        }
      }
}

@media (max-width: 400px) {
  .header {
    .search--active {
      input {
        max-width: 253px;
      }
    }
  }
  .contacts {
    &__container {
      padding: 0;
    }
    .address-active {
      padding: 25px 34px 14px 19px;
      font-size: 14px;
      line-height: 18px;
    }
    &-address__title {
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 22px;
    }
    &-address {
      margin-bottom: 11px;
      font-size: 14px;
      line-height: 18px;
    }
    &__title,
    &__right {
      padding: 0 21px;
    }
  }
}
  