// colors
  $dark-color: #202020;
  $light-color: #fff;
  $orange-color: #ff6e30;
  $gray-color: #cacaca;
  $dark-gray-color: #4a4a4a;
  $light-gray-color: #e9e9e9;
  $perl-orange: #bc572B;
  $tician: #ce4307;
  $light-gray: #999999;
  $red-color: #ff3030;

// шрифт

$Roboto: 'Roboto';
$TTFirsNeue: 'TTFirsNeue';
$font400: 400;
$font700: 700;